body {
    margin: 0;
    padding: 0;
    background-color:#000000;
    font-family: 'Open Sans', sans-serif;
}
.container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.block1, .block2, .block3, .block4, .block5, .block6 {
    background-color: #fff;
    border: 1px solid;
}
.container {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(150px, auto);
}
.container > .item {
    background-color: greenyellow;
    border: #fff 1px solid;
}

@media (max-width: 600px) {
    .container-2 {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}