* {
    box-sizing: border-box;
}
.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: white;
}
.header {
    background-color: blue;
}
.main {
    display: flex;
    align-items: center;
}
.section-about {
    flex-basis: 300px;
}
